<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="logo.svg">
    <title>{{ name }}</title>
  </head>
  <body>
    <div id="root"></div>
    <!-- built files will be auto injected -->
  </body>
</html>